@{
    ViewData["Title"] = "CRUD";
}

<div class="table-container">
    <div class="header-row">
        <h2 class="titulo">Lista de Usuários</h2>
        <a href="/Users/Create" class="create-button">Criar Novo</a>
    </div>

    <table class="user-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ativo</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                    <td>@item.IsActive</td>
                    <td>@item.UserType.Name</td>
                    <td class="action-buttons">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn-edit">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn-delete">Excluir</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn-detalhes">Detalhes</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
